/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
html,
body {
  font-family: "Montserrat", sans-serif;
}
p {
  line-height: 1.5;
}
.container {
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1rem;
  margin: 0;
  background: #444343;
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
}
a {
  text-decoration: none;
  margin-right: 1rem;
  color: white;
}
.about-title {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.ui-title {
  margin: 2rem 0 0 4rem;
  font-size: 1.3rem;
  color: #640303;
  font-weight: bolder;
}
.divs {
  display: flex;
  margin: 1.5rem 1rem 1.5rem 1.5rem;
}
.left-pics {
  margin-right: 4rem;
}
.tony-div {
  padding-left: 2.5rem;
}
.tony-div img {
  border: 1px solid gray;
  margin-left: -2.5rem;
  padding: 0.2rem;
}
.tony-div h3 {
  margin-left: -2.5rem;
}
.tony-div p {
  margin-left: -2.5rem;
}
.about-div3 {
  margin-left: 1.5rem;
  width: 50%;
}
.cta-div {
  background-image: url("../img/mountain.jpg");
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}
@media (min-width: 800px) {
  .cta-div {
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.intro {
  color: white;
  font-weight: 970;
  font-size: 1.7rem;
  text-shadow: 4px 4px #065c06;
}
@media (min-width: 800px) {
  .intro {
    font-size: 2.5rem;
  }
}
.first-p {
  padding: 8rem 0 0 3rem;
}
@media (min-width: 800px) {
  .first-p {
    padding: 10rem 0 0 16rem;
  }
}
.second-p {
  padding-left: 3rem;
}
@media (min-width: 800px) {
  .second-p {
    padding-left: 16rem;
  }
}
button {
  width: 20%;
  background: #6927D8;
  color: white;
  border: #6927D8;
  padding: 0.5rem 0;
  font-size: 1rem;
  border-radius: 6px;
  margin: 0.5rem 0 0 3rem;
}
@media (min-width: 800px) {
  button {
    margin-left: 16rem;
    width: 10%;
  }
}
.bottom-content {
  background: #444343;
  color: white;
}
@media (min-width: 800px) {
  .bottom-content {
    padding-top: 7rem;
  }
}
.bottom-content h2 {
  text-align: center;
  padding: 3rem 0 1rem 0;
  font-weight: bolder;
}
@media (min-width: 800px) {
  .bottom-content h2 {
    font-size: 1.5rem;
    position: relative;
    top: -8rem;
    width: 60%;
    left: 15rem;
  }
}
.bottom-content h3 {
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #bfa4ee;
  width: 22%;
}
@media (min-width: 800px) {
  .bottom-content .mbl-blurb {
    display: flex;
    width: 100%;
    margin: -5rem 0 0 -0.3rem;
  }
}
.bottom-content .blurbs {
  width: 80%;
  margin: 1rem 3rem 0 3rem;
  background: #6b6666;
  border: 1px #7c7676;
  border-radius: 5px;
  padding: 1rem 0 1rem 1rem;
}
.bottom-content .blurb-text {
  font-size: 0.8rem;
}
footer {
  background: #444343;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 5rem 2rem 1.5rem 2rem;
}
