//About page styling

.about-div {
    // border: 2px solid red; 
    width: 90%;
    margin-left: 3rem;  
}

.about-title {
    text-align: center;
    margin: 4rem 0 7rem 0;
    font-size: 1.5rem;
    // border: 2px solid red; 
}

.job-title {
 margin: 2rem 0 0 4rem;
 font-size: 1.3rem;
 color: rgb(100, 3, 3);
 font-weight: bolder;
}

.h3-title {
    font-style: italic;
}

.h3-name {
    font-weight: bolder;
    color: rgb(25, 135, 155);
    // border: 2px solid red;
}

.divs {
    display: flex;
    margin: 1.5rem 1rem 1.5rem 1.5rem;
    // border: 2px solid red;
    
}

.blurb {
    font-size: .9rem;
    margin-top: .5rem;
    // border: 2px solid red;
    width: 70%;
    padding-bottom: 2rem;
    
}

// .daniel-blurb {
//     // width: 90%;
     
    
// }



.left-pics {
margin-right: 4rem;
}

.about-div1 {
    // border: 2px solid red;
}

.about-div2 {
    // border: 2px solid red;   
}

.jas-div {
    // border: 2px solid green; 
    margin-left: 1.5rem;
    width: 50%;  
}

.tony-div {
    padding-left: 2.5rem;
    // border: 2px solid green;
    width: 47%;

    img {
        border: 1px solid gray; 
        margin-left: -2.5rem;
        padding: .2rem;
    }

    h3 {
     margin-left: -2.5rem;
    }

    p {
    margin-left: -2.5rem;    
    }
}

.griss-div {
    // border: 2px solid green;
    margin-left: -2.5rem;   
}

.chao-div {
    // border: 2px solid green;
}




.eralp-div {
    // border: 2px solid green;
    width: 45%;
       
}


.will-div {
// border: 2px solid purple;
 width: 54%;
// margin-left: -2rem; 

@media @desktop {
// margin-left: 8rem;
  }

}




.duraan-div {
    // border: 2px solid purple; 
    margin-left: -2.5rem;
}

.reese-div {
    // border: 2px solid purple;  
}

.about-div6 {
    margin: 2rem 0 0 1.5rem;
    width: 50%;     
}

.about-div7 {
    margin: 2rem 0 0 1.5rem;
    width: 50%;     
}

.about-div8 {
    margin: 2rem 0 6rem 1.5rem;
    width: 50%;     
}

