//About page styling

.about-title {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.job-title {
 margin: 2rem 0 0 4rem;
 font-size: 1.3rem;
 color: rgb(100, 3, 3);
 font-weight: bolder;
}

.divs {
    display: flex;
    margin: 1.5rem 1rem 1.5rem 1.5rem;
    // border: 2px solid red;
    
}

.left-pics {
margin-right: 4rem;
}


.tony-div {
    // border: 2px solid red;
    padding-left: 2.5rem;

    img {
        border: 1px solid gray; 
        margin-left: -2.5rem;
        padding: .2rem;
    }

    h3 {
    margin-left: -2.5rem;
    }

    p {
    margin-left: -2.5rem;    
    }
}

.about-div3 {
    // border: 2px solid red;
    margin-left: 1.5rem;
    width: 50%;  
}

.about-div6 {
    margin: 2rem 0 0 1.5rem;
    width: 50%;     
}

.about-div7 {
    margin: 2rem 0 0 1.5rem;
    width: 50%;     
}

.about-div8 {
    margin: 2rem 0 6rem 1.5rem;
    width: 50%;     
}

